<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" href="../../static/bootstrap/css/bootstrap-theme.css"
          rel="stylesheet"/>
    <link th:href="@{/css/main.css}" href="../../static/css/main.css"
          rel="stylesheet"/>
    <script th:src="@{/scripts/jquery-3.1.1.min.js}" src="../../static/scripts/jquery-3.1.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js"></script>
    <script th:src="@{/scripts/check.js}"
            src="../../static/scripts/check.js"></script>
</head>

<body>
<!--包含模态对话框-->
<div th:include="common/info-dialog"></div>

<div th:if="${registerMsg!=null}">
    <script th:inline="javascript">
        var registerMsg = [[${registerMsg}]];
        $('#message').html(registerMsg);
        $('#dialog').css({visibility: "visible"});
    </script>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4"
             style="color: white; background-color: darkblue; border-radius: 5px 5px 0 0">
            <div class="text-center">
                <h3>用户注册</h3>
            </div>
        </div>
        <div class="well col-md-offset-4 col-md-4" style="border-radius: 0 0 5px 5px">
            <form th:action="@{/user/register}" method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="username" class="form-control" type="text" name="username" placeholder="输入用户名"/>
                </div>
                <div class="input-group" style="margin-top: 5px;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" class="form-control" type="password" name="password" placeholder="输入密码"/>
                </div>
                <div class="input-group" style="margin-top: 5px;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input id="telephone" class="form-control" type="tel" name="telephone" placeholder="输入电话号码"/>
                </div>
                <br/>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" onclick="return checkRegisterForm()">注册</button>
                        <button type="reset" class="btn btn-success">重置</button>
                        <a th:href="@{/}" href="../index.html" class="btn btn-info">返回首页</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(window).resize();
    });

    $(window).resize(function () {
        $('.container').css({
            position: "absolute",
            left: ($(window).width() - $('.container').width()) / 2,
            top: ($(window).height() - $('.container').height()) / 2
        });
    });
</script>
</body>
</html>